
.hero-section{
    
    .img-hero{
        position: relative;

        width: 100%;
        height: auto;
    }

    &__text{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;

        position: absolute;
        top: 50%;
        left: 40%;

        color: white;
    }
}
// section Widgets
.widgets{
    background-color: #f4f7fb;

    &__blog-item{
        background-color: white;
    }
}

.widgets__blog-text{
    position: relative;

    .readMore{
        position: absolute;
        right: 0;
        bottom: 0;

        background-color: deeppink;
        color: white;
        padding: 5px;
    }
}

ul.widgets__recipe-list li{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    
}

.widgets__blog-thumb{
    position: relative;

    &--date{
        position: absolute;
        top: 0;
        left: 0;

        background-color: deeppink;
        color: white;
        font-size: 1.5rem;
        padding: 2rem;
    }
}

.img-blog-thumb{
    width: auto;
}

// section Review
.review{

    background-color: #fdc856;

    &-item{
        background-color: white;
    }

    &-thumb{
        position: relative;
    }

    &-date{
        position: absolute;
        top: 0;
        left: 0;

        background-color: deeppink;
        color: white;
        font-size: 2rem;
        padding: 1rem;

    }
}

 
.author-img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}