
.hero-section{
    
    // .img-hero{
    //     position: relative;

    //     width: 100%;
    //     height: auto;
    // }
    
    &__text{
        background-image: url(/images/slider-bg-2.jpg);
        background-size: cover;
        background-position: top center;
        width: 100%;
        height: auto;
        vertical-align: middle;

        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;

        // position: absolute;
        // top: 50%;
        // left: 40%;

        color: white;
    }
}

// section Widgets
.widgets{
    background-color: #f4f7fb;

    &__blog-item{
        background-color: white;
    }
}

.widgets__blog-text{
    position: relative;

    .readMore{
        position: absolute;
        right: 0;
        bottom: 0;

        background-color: deeppink;
        color: white;
        padding: 5px;
    }
}

ul.widgets__recipe-list li{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    
}

.widgets__blog-thumb{
    position: relative;

    &--date{
        position: absolute;
        top: 0;
        left: 0;

        background-color: deeppink;
        color: white;
        font-size: 1.5rem;
        padding: 2rem;
    }
}

.img-blog-thumb{
    width: 100%;
}

//  Image list widgets
.image{
    margin-bottom: 1rem;
    margin-right: 8px;
}

.image > img{
    width: 90px;
    height: 90px;
}

// section Review
.review{

    background-color: #40e0d0;

    &-item{
        background-color: white;

        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
    }

    &-thumb{
        position: relative;
    }

    &-date{
        position: absolute;
        top: 0;
        left: 0;

        background-color: #72b5b7;
        color: white;
        padding: 1rem;

    }
}

.img-thumb{
    width: 50%;
    height: 100%;
}
 
.author-img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}