.img-hero{
    max-width: 100%;
    height: auto;
}

.recipe__background{
    background-image: url(/images/recipes/single-big.jpg);
}

.recipe__title {
    display: inline-block;
    background-color: deeppink;
    // height: 8px;
    padding: 1rem 2rem;
    margin: 1rem 0;

    &--text {
        color: white;
    }
}

.rating{
    margin: 2rem 0;
}

.recipe__filter{
    background-color: #eff3f7;
}

.recipe__filter-top{
    background-color: deeppink;
    padding: 2rem;

    &--text{
        color: white;
    }
}

.recipe__filter-form{
    padding: 1rem;

    h2{
        margin: 2rem ;
        font-size: 2rem;
    }
}

.filter-form{
    margin: 2rem;
}

// CUSTOM FORM
.form-group{
    margin-bottom: 1rem;

    lable,
    input[type="text"]
    {
        display: block;
        width: 100%;
    }

    label{
        color: #444444;

        font-size: 13px;
        line-height: 16px;
    }

    input[type="text"]
    {
        height: 2rem;
        padding: 0 0.5rem;
        border: 1px solid #eeeeee;

        background-color: #eeeeee;

        font-size: 14px;
        line-height: 24px;
        
        outline: none;
        transition: border-color 0.25s ease-in-out 0s;

        &:focus{
            border-color: 1px solid deeppink;
        }
    }
}

.form-check{
    label{
        position: relative;
        display: inline-block;
        width: auto;
        padding: 0 0 0 2rem;
        cursor: pointer;
// element có thẻ đóng mới có before/ after
        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;

            display: inline-block;
            width: 1rem;
            height: 1rem;
            border: 1px solid deeppink;
            border-radius:  4px;
        }

        &::after{
            // content: "";
            position: absolute;
            top: 2px;
            left: 6px;

            display: inline-block;
            width: 4px;
            height: 8px;
            
            border-right: 2px solid black;
            border-bottom:  2px solid black;

            transform: rotate(45deg);

        }
    }

    // hide defaul checkbox
    input[type="checkbox"]{
        width: 0;
        opacity: 0;
    }

    // CHECK STATE SWITCHER
    input[type="checkbox"]:checked + label::before{
       background-color: deeppink;

    }
    input[type="checkbox"]:checked + label::after{
        content: "";
        border-color: white;
    }
}
